<div>
	<%= form_for @survivor do |f| %>
		<div>
			<%= f.label 'name:' %>
			<%= @survivor.name %>
		</div>
		<div>
			<%= f.label 'age:' %>
			<%= @survivor.age %>
		</div>
		<div>
			<%= f.label 'gender:' %>
			<%= @survivor.gender %>
		</div>
		<div>
			<%= f.label 'latitude:' %>
			<%= f.text_field :latitude %>
		</div>
		<div>
			<%= f.label 'longitude:' %>
			<%= f.text_field :longitude %>
		</div>
		<%= f.submit %>
		<%= link_to 'Back', survivors_path %>
	<% end %>
</div>